

SERVER_PORT="SERVER_PORT"
NODE_ENV="NODE_ENV"

# Database (Neon PostgreSQL)

DB_PORT="DB_PORT"
DB_USER="DB_USER"
DB_PASS="DB_PASS"
DB_HOST="DB_HOST"
DB_NAME="DB_NAME"
DB_SYNC="DB_SYNC"                 
DB_AUTO_LOAD_ENTITIES="DB_AUTO_LOAD_ENTITIES"
DB_SSL= "DB_SSL"

# JWT
JWT_SECRET='super-secret-key-123456'
JWT_REFRESH_SECRET='super-refresh-secret-key-123456'
JWT_TOKEN_AUDIENCE="localhost:"
JWT_TOKEN_ISSUER="TOKEN_ISSUER"
JWT_ACCESS_TOKEN_TTL="ACCESS_TOKEN_TTL"
JWT_REFRESH_TOKEN_TTL="REFRESH_TOKEN_TTL"

# App
API_VERSION="API_VERSION"
IMAGE_UPLOAD_URL="IMAGE_UPLOAD_URL"

# Mail
MAIL_HOST="HOST"
MAIL_PORT="PORT"
MAIL_SECURE="SECURE"
SMTP_USERNAME="SMTP_USERNAME"
SMTP_PASSWORD="SMTP_PASSWORD"

# Frontend / Backend
FRONTEND_URL="FRONTEND_URL"
BACKEND_URL="BACKEND_URL"

# Crypto
ENCRYPTION_SECRET="super-secret-key"
PROFILE_API_KEY="dummy-key"
APP_API_KEY="dummy-app-key"

CLOUDE_NAME="CLOUDINARY_CLOUDE_NAME"
CLOUDINARY_API_KEY="CLOUDINARY_API_KEY"
CLOUDINARY_API_SECRET="CLOUDINARY_API_SECRET"
CLOUDINARY_URL="CLOUDINARY_URL"

